.hero{
    display: flex;
    align-items: center;
    flex-direction: column;

}
.hero img{
    margin-top: 150px;

}
.hero h1{
    text-align: center;
    width: 70%;
    font-size: 90px;
    font-weight: 600;

}
.hero h1 span{
    background: linear-gradient(267deg,#DA7C25 0.36%,#B923E1 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero p{
    width: 50%;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
}
.hero-action{
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 25px;
    font-weight: 500;
    margin-bottom: 50px;
}
.hero-connect{
    padding: 10px 20px;
    border-radius: 50px;
    background: linear-gradient(267deg,#DA7C25 0.36%,#B923E1 102.06%);
    cursor: pointer;
}
.hero-resume{
    padding: 10px 20px;
    border-radius: 50px;
    background: linear-gradient(267deg,#DA7C25 0.36%,#B923E1 102.06%);
    cursor: pointer;

}
.hero-connect:hover{
    border: 2px solid white;
}
.hero-resume:hover{
    border: 2px solid white;
}