.About{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 80px 170px;
    gap: 80px;

}
.About-Title{
    position: relative;
}
.About-Title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.about-section{
    display: flex;
    gap: 80px;

}
.about-right{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.about-para{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 500;
    font-size: 20px;
}
.about-skills{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about-skill{
    display: flex;
    align-items: center;
    gap: 50px;
    transition:0.3s;
}
.about-skill p{
    min-width:150px;
    font-size: 20px;
    font-weight: 500;

}
.about-skill hr{
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius:50px;
    background: linear-gradient(264deg,#DF8908 -5.09%,#B923E1 102.06%);


}
.about-achievements{
    display: flex;
    width: 100%;
    justify-content:space-around;
    margin-bottom: 80px;

}
.achievement{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}
.achievement h1{
    font-size: 60px;
    font-weight: 700;
    background: linear-gradient(267deg,#DA7C25 0.36%,#B923E1 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.achievement p{
    font-size: 20px;
    font-weight: 500;
}
.about-skill:hover{
    transform: scale(1.09);
    transition: 0.3s;

}