.Contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 70px;
    gap: 80px;

}
.contact-title h1{
    padding: 0px 30px ;
    font-size: 80px;
    font-weight: 600;
}
.contact-section{
    display: flex;
    gap: 150px;
}
.contact-left{
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.contact-left h1{
    font-size: 80px;
    font-weight: 700;
    background: linear-gradient(267deg,#DA7C25 0.36%,#B923E1 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.contact-left p{
    font-size: 20px;
    line-height: 35px;
    max-width: 550px;
}
.contact-details{
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 20px;
}
.contact-image{
    width: 40px;
}
.contact-detail{
    display: flex;
    gap: 20px;
}
.contact-right{
    display: flex;
    flex-direction: column;
    align-items:start ;
    gap: 30px;

}
.contact-right label{
    font-size: 20px;
    font-weight: 500;
}
.contact-right input{
    border: none;
    width: 700px;
    height: 70px;
    padding-left: 70px;
    border-radius: 5px;
    background-color: #32323c;
    color: white;
    font-family: Outfit;
    font-size: 20px;

}
.contact-right textarea{
    border: none;
    background-color: #32323c;
    width: 700px;
    padding:25px;
    font-size: 20px;
    font-weight: 500px;
    border-radius: 5px;
    color: white;
    font-family: outfit;
}
.contact-right button{
    border: none;
    color: white;
    border-radius: 50px;
    background: linear-gradient(267deg,#DA7C25 0.36%,#B923E1 102.06%);
    font-size: 20px;
    font-family: outfit;
    cursor: pointer;
    padding: 20px 60px;
    transition: 0.3s;

}
.contact-right button:hover{
    transform: scale(1.09);
}