.Footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;

}
.footer-top{
    display: flex;
    justify-content: space-around;
}
.footer-top-left{
    width: 30%;
}
.footer-top-left p{
    font-size: 20px;
    font-weight: 500;
    font-family: outfit;
    

}
.footer-top-right{
    display: flex;
    justify-content: center;
    align-items: center;



}
.user-email{
    width: 550px;
    height: 50px;
    padding-left:50px ;
    border: none;
    background-color: rgba(97, 92, 92, 0.211);
    border-radius: 50px;
    justify-content: space-around;

}
.footer-email{
    gap: 20px;
}
.footer-email button{
    margin: 20px;
    font-size: 20px;
    font-weight: 400;
    font-family: outfit;
    background: linear-gradient(267deg,#DA7C25 0.36%,#B923E1 102.06%);
    border: none;
    border-radius: 50px;
    width: 150px;
    height: 50px;
    color: white;
    transition: 0.3s;
}
.footer-email button:hover{
    transform: scale(1.09);
}

.footer-down{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    gap: 40px;

}
.para{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 200px;
}